.subscribe {
  @media screen and (min-width: 768px) {
    display: block;
  }
}

.subscribe__form {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }
}

.subscribe__text {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-txt-cl);
  margin-bottom: 20px;
}

.subscribe__label {
  height: 50px;
}

.subscribe__email {
  display: block;
  height: 50px;
  width: 100%;
  padding: 15px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: var(--btn-txt-cl);
  outline: transparent;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-bottom: 0;
  }
}

.subscribe__btn {
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  padding: 10px 28px;
  transition: background-color var(--anim);

  &:hover,
  &:focus {
    background-color: var(--btn-bl-cl);
  }
}
